 *, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  ::-webkit-scrollbar {
    width: 5px;
    height: 0.4em;
    border-radius: 10px;
  };
  ::-webkit-scrollbar-thumb {
    width: 0.2em;
    height: 0.5em;
    border: '1px solid #fff';
    border-radius: 50px;
    outline: 'none';
    border-radius: 999px;
    background-color: #ccc;
  };
  
}

/* body {
  background-color: #2B2D31;
} */

